# Created by .ignore support plugin (hsz.mobi)


.gradle
.idea

application.properties
application-oauth.properties
application-real.properties
application-real1.properties
application-real2.properties


build
out
